In [0]:
spark.conf.set(f"fs.azure.sas.destination.adlsproject1hexa.blob.core.windows.net","sv=2022-11-02&ss=bfqt&srt=sco&sp=rwdlacupyx&se=2024-02-27T02:48:55Z&st=2024-02-26T18:48:55Z&spr=https&sig=M5HXI%2BmaRQ4metmz4bdXf7iDkuOnofeXa5RJcJFVaa4%3D")

In [0]:
df = spark.read.csv('wasbs://destination@adlsproject1hexa.blob.core.windows.net/Olympics.csv', header=True, inferSchema=True)
df.show()

+-----------+----+--------------+------+--------------+----------------+-----+
|      Games|Year|       Country|  Type|Cost per event|Cost per athlete|event|
+-----------+----+--------------+------+--------------+----------------+-----+
|      Tokyo|1964|         Japan|Summer|           1.7|             0.1| NULL|
|     Munich|1972|       Germany|Summer|           5.2|             0.1| NULL|
|   Montreal|1976|        Canada|Summer|          30.8|             1.0| NULL|
|     Moscow|1980|  Soviet Union|Summer|          31.2|             1.2| NULL|
|Los Angeles|1984| United States|Summer|           3.3|             0.1| NULL|
|  Barcelona|1992|         Spain|Summer|          37.7|             1.0| NULL|
|    Atlanta|1996| United States|Summer|          15.3|             0.4| NULL|
|     Sydney|2000|     Australia|Summer|          16.8|             0.5| NULL|
|     Athens|2004|        Greece|Summer|           9.8|             0.3| NULL|
|    Beijing|2008|         China|Summer|          22.5|             0.6| NULL|
|     London|2012|United Kingdom|Summer|          49.5|             1.4| NULL|
|        Rio|2016|        Brazil|Summer|          14.9|             0.4| NULL|
|  Innsbruck|1964|       Austria|Winter|           0.6|            0.02| NULL|
|   Grenoble|1968|        France|Winter|          25.4|             0.8| NULL|
|    Sapporo|1972|         Japan|Winter|           3.4|             0.1| NULL|
|  Innsbruck|1976|       Austria|Winter|           3.2|             0.1| NULL|
|Lake Placid|1980| United States|Winter|          11.5|             0.4| NULL|
|    Calgary|1988|        Canada|Winter|          24.1|             0.8| NULL|
|Albertville|1992|        France|Winter|          35.0|             1.1| NULL|
|Lillehammer|1994|        Norway|Winter|          36.5|             1.3| NULL|
+-----------+----+--------------+------+--------------+----------------+-----+
only showing top 20 rows

In [0]:
df = df.withColumnRenamed("Cost per event", "Cost_per_event").withColumnRenamed("Cost per athlete","Cost_per_athelete")
df_cleaned = df.drop("event")
df_cleaned.show()

+-----------+----+--------------+------+--------------+-----------------+
|      Games|Year|       Country|  Type|Cost_per_event|Cost_per_athelete|
+-----------+----+--------------+------+--------------+-----------------+
|      Tokyo|1964|         Japan|Summer|           1.7|              0.1|
|     Munich|1972|       Germany|Summer|           5.2|              0.1|
|   Montreal|1976|        Canada|Summer|          30.8|              1.0|
|     Moscow|1980|  Soviet Union|Summer|          31.2|              1.2|
|Los Angeles|1984| United States|Summer|           3.3|              0.1|
|  Barcelona|1992|         Spain|Summer|          37.7|              1.0|
|    Atlanta|1996| United States|Summer|          15.3|              0.4|
|     Sydney|2000|     Australia|Summer|          16.8|              0.5|
|     Athens|2004|        Greece|Summer|           9.8|              0.3|
|    Beijing|2008|         China|Summer|          22.5|              0.6|
|     London|2012|United Kingdom|Summer|          49.5|              1.4|
|        Rio|2016|        Brazil|Summer|          14.9|              0.4|
|  Innsbruck|1964|       Austria|Winter|           0.6|             0.02|
|   Grenoble|1968|        France|Winter|          25.4|              0.8|
|    Sapporo|1972|         Japan|Winter|           3.4|              0.1|
|  Innsbruck|1976|       Austria|Winter|           3.2|              0.1|
|Lake Placid|1980| United States|Winter|          11.5|              0.4|
|    Calgary|1988|        Canada|Winter|          24.1|              0.8|
|Albertville|1992|        France|Winter|          35.0|              1.1|
|Lillehammer|1994|        Norway|Winter|          36.5|              1.3|
+-----------+----+--------------+------+--------------+-----------------+
only showing top 20 rows

In [0]:
df1= df.drop("event")
df1.sort("Year").show()

+--------------+----+-------------+------+--------------+-----------------+
|         Games|Year|      Country|  Type|Cost_per_event|Cost_per_athelete|
+--------------+----+-------------+------+--------------+-----------------+
|         Tokyo|1964|        Japan|Summer|           1.7|              0.1|
|     Innsbruck|1964|      Austria|Winter|           0.6|             0.02|
|      Grenoble|1968|       France|Winter|          25.4|              0.8|
|        Munich|1972|      Germany|Summer|           5.2|              0.1|
|       Sapporo|1972|        Japan|Winter|           3.4|              0.1|
|      Montreal|1976|       Canada|Summer|          30.8|              1.0|
|     Innsbruck|1976|      Austria|Winter|           3.2|              0.1|
|        Moscow|1980| Soviet Union|Summer|          31.2|              1.2|
|   Lake Placid|1980|United States|Winter|          11.5|              0.4|
|   Los Angeles|1984|United States|Summer|           3.3|              0.1|
|       Calgary|1988|       Canada|Winter|          24.1|              0.8|
|     Barcelona|1992|        Spain|Summer|          37.7|              1.0|
|   Albertville|1992|       France|Winter|          35.0|              1.1|
|   Lillehammer|1994|       Norway|Winter|          36.5|              1.3|
|       Atlanta|1996|United States|Summer|          15.3|              0.4|
|        Nagano|1998|        Japan|Winter|          32.7|              1.0|
|        Sydney|2000|    Australia|Summer|          16.8|              0.5|
|Salt Lake City|2002|United States|Winter|          32.3|              1.1|
|        Athens|2004|       Greece|Summer|           9.8|              0.3|
|        Torino|2006|        Italy|Winter|          52.0|              1.7|
+--------------+----+-------------+------+--------------+-----------------+
only showing top 20 rows

In [0]:
df1= df.drop("event")
df1.sort("Year",ascending=False).show()

+--------------+----+--------------+------+--------------+-----------------+-----+
|         Games|Year|       Country|  Type|Cost_per_event|Cost_per_athelete|event|
+--------------+----+--------------+------+--------------+-----------------+-----+
|           Rio|2016|        Brazil|Summer|          14.9|              0.4| NULL|
|         Sochi|2014|        Russia|Winter|         223.4|              7.9| NULL|
|        London|2012|United Kingdom|Summer|          49.5|              1.4| NULL|
|     Vancouver|2010|        Canada|Winter|          29.5|              1.0| NULL|
|       Beijing|2008|         China|Summer|          22.5|              0.6| NULL|
|        Torino|2006|         Italy|Winter|          52.0|              1.7| NULL|
|        Athens|2004|        Greece|Summer|           9.8|              0.3| NULL|
|Salt Lake City|2002| United States|Winter|          32.3|              1.1| NULL|
|        Sydney|2000|     Australia|Summer|          16.8|              0.5| NULL|
|        Nagano|1998|         Japan|Winter|          32.7|              1.0| NULL|
|       Atlanta|1996| United States|Summer|          15.3|              0.4| NULL|
|   Lillehammer|1994|        Norway|Winter|          36.5|              1.3| NULL|
|     Barcelona|1992|         Spain|Summer|          37.7|              1.0| NULL|
|   Albertville|1992|        France|Winter|          35.0|              1.1| NULL|
|       Calgary|1988|        Canada|Winter|          24.1|              0.8| NULL|
|   Los Angeles|1984| United States|Summer|           3.3|              0.1| NULL|
|        Moscow|1980|  Soviet Union|Summer|          31.2|              1.2| NULL|
|   Lake Placid|1980| United States|Winter|          11.5|              0.4| NULL|
|      Montreal|1976|        Canada|Summer|          30.8|              1.0| NULL|
|     Innsbruck|1976|       Austria|Winter|           3.2|              0.1| NULL|
+--------------+----+--------------+------+--------------+-----------------+-----+
only showing top 20 rows

In [0]:
df1= df.drop("event")
df1.filter("Cost_per_event > 50").show()

+------+----+-------+------+--------------+-----------------+
| Games|Year|Country|  Type|Cost_per_event|Cost_per_athelete|
+------+----+-------+------+--------------+-----------------+
|Torino|2006|  Italy|Winter|          52.0|              1.7|
| Sochi|2014| Russia|Winter|         223.4|              7.9|
+------+----+-------+------+--------------+-----------------+

In [0]:
df1= df.drop("event")
df1.select("Cost_per_athelete").distinct().show()

+-----------------+
|Cost_per_athelete|
+-----------------+
|              1.4|
|              1.7|
|              0.1|
|              1.0|
|              0.6|
|              0.8|
|              0.5|
|              1.3|
|              7.9|
|              0.4|
|              1.1|
|              1.2|
|             0.02|
|              0.3|
+-----------------+

In [0]:
df1= df.drop("event")
df1.groupBy("Type").sum("Cost_per_event").show()

+------+-------------------+
|  Type|sum(Cost_per_event)|
+------+-------------------+
|Summer| 238.70000000000002|
|Winter|              509.6|
+------+-------------------+

In [0]:
df1= df.drop("event")
df1.groupBy("Type").min("Cost_per_event").show()

+------+-------------------+
|  Type|min(Cost_per_event)|
+------+-------------------+
|Summer|                1.7|
|Winter|                0.6|
+------+-------------------+

In [0]:
df1= df.drop("event")
df1.groupBy("Type").max("Cost_per_event").show()

+------+-------------------+
|  Type|max(Cost_per_event)|
+------+-------------------+
|Summer|               49.5|
|Winter|              223.4|
+------+-------------------+

In [0]:
df1= df.drop("event,")
df1.groupBy("Type").count().show()

+------+-----+
|  Type|count|
+------+-----+
|Summer|   12|
|Winter|   13|
+------+-----+

In [0]:
df1= df.drop("event")
df1.groupBy("Type").mean("Cost_per_event").show()

+------+-------------------+
|  Type|avg(Cost_per_event)|
+------+-------------------+
|Summer|  19.89166666666667|
|Winter|               39.2|
+------+-------------------+

In [0]:
df1= df.drop("event")
df1.groupBy("Type").avg("Cost_per_event").show()

+------+-------------------+
|  Type|avg(Cost_per_event)|
+------+-------------------+
|Summer|  19.89166666666667|
|Winter|               39.2|
+------+-------------------+

In [0]:

from pyspark.sql.functions import sum, min

df1 = df.drop("event")
df1.groupBy("Type").agg(sum(df["Cost_per_event"]), min(df["Cost_per_athelete"])).show()

+------+-------------------+----------------------+
|  Type|sum(Cost_per_event)|min(Cost_per_athelete)|
+------+-------------------+----------------------+
|Summer| 238.70000000000002|                   0.1|
|Winter|              509.6|                  0.02|
+------+-------------------+----------------------+